.projectsAlbertoContent{
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex: 1;
    background-color: #CE8054;
}

h1{
    text-align: center;
}

.projectsGrid{
    display: flex;
    flex: 1;
    flex-direction: row;
}

.leftColumn{
    display: flex;
    flex-direction: column;
    gap: 2%;
    flex: 1;
}

.rightColumn{
    display: flex;
    flex-direction: column;
    gap: 2%;
    flex: 1;
}

.projectInfo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2%;
    border: solid;
    padding: 5px;
}

.projectImage{
    height: 25vh;
    width: auto;
}