.side{
    width: 100vw;
    height: 100vh;

    position: absolute;
    overflow-x: hidden;

    transition: all 200ms ease-in-out;
}


#left{
    z-index: 1;
}

#right{
   z-index: 0;
}

.sliderContainer {
    width: 100vw;
    min-height: 100%;
    color: #fff;
    background-color: var(--colorAlberto);
}

.right{
    background-color: darkslategrey;
    color: black;
}

