.main{
    flex: 1;
    background-color: orange;
}

.side{
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow-x: hidden;
}

#left{
    z-index: 1;
}

#right{
   z-index: 0;
}

.sliderContainer {
    width: 100vw;
    min-height: 100%;
    color: #fff;
    background-color: #CE8054;
    flex-flow: column;
    justify-content: space-between;
    align-items: stretch;
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.right{
    background-color: darkslategrey;
    color: black;
}

