.socialMediaAlbertoContent{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #CE8054;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.socialMedias{
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.socialMediaInfo{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid;
    background-color: lightgrey;
    gap: 5%;
    padding: 10px;
}

.socialMediaLogo{
    height: auto;
    width: 10vw;
}

.socialMediaLink{
    text-align: center;
    color: darkBlue;
}

@media screen and (max-width: 70em){
    .socialMedias{
        flex-direction: column;
        gap: 1%;
    }

    .socialMediaLogo{
        width: 10vh;
    }
}