.aboutMeGabrielContent{
    color: white;
    display: flex;
    background-color: #CE8054;


    background-position: center;
    background-repeat: no-repeat;


    gap: 10px;
}


.aboutMeGabrielContent p{
    font-family: "Walkway";
    width: 600px;
}

.myImageGabriel{
    width: 20vw;
    height: auto;
    margin-right: 20px;
    border-radius: 20%;
}