.IntroSection{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.titleSection{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}

.title{
    text-align: start;
    font-family: "Montserrat", sans-serif;
    font-size: 7vw;
    width: 500px;
    font-weight: 200;
}

.specialName{
    margin-left: 20px;
    margin-top: -150px;
}

.photoSection{
    display: flex;
    justify-content: center;
}