.aboutMeAlbertoContent{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #CE8054;
    background-image: url("./images/background-Alberto.svg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: 210% 157%;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.aboutMeTitle{
    font-family: "Montserrat", sans-serif;
    font-size: 10rem;
    /*transform:  translate(-300px,50px) rotate(-90deg);*/
}