.galleryAlbertoContent{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 100px;
    background-color: #CE8054;
    background-image: url("./images/background-Alberto.svg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: 210% 157%;
}

.galleryGrid{
    display: flex;
    flex: 1;
    flex-direction: row;
}

.leftColumn{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20%;
}

.rightColumn{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20%;
}

.personalImage{
    border-radius: 50%;
    width: 20vw;
    height: auto;
}

.personalImage:hover {
    transform: scale(1.5);
    transition: transform 0.2s ease;
}