.resumeAlbertoContent{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #CE8054;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.resumeImgAlberto{
    width: 35vw;
    height: auto;
    max-height: 80vh;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border: 2px solid #333;
    border-radius: 10px;
}

.resumeImgAlberto:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease;
}
  