.navbar {
    position: fixed;
    width: 100%;
    height: 60px;

    background-image:linear-gradient(to bottom,rgba(255, 255, 255, 0.3),rgba(255, 255, 255, 0));
    color: white;
    backdrop-filter: blur(10px);

    display: flex;
    justify-content: center;
    gap: 5%;
    z-index: 10;
}

.navbar button {
    font-family: "Lemon Milk";
    background: transparent;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1rem;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    transition: all 0.3s;
}

.navbar button:disabled{
    opacity: 0;
    cursor: initial;
}

.navbar button:hover:enabled {
    background-color: rgba(0, 0, 0, 0.3);
}

.navbar button.iAlb{
    border-style:none;
    border-width: 1px;
    border-bottom: none;
    border-top: none;
    /*background-color: rgba(47, 79, 79, 0.3);*/
    /*border-color: rgba(47, 79, 79, 0.548);*/
    color: rgba(255,255,255,1);
}

.navbar button.alb {
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.navbar button.iGab{
    border-style:none;
    border-width: 1px;
    border-bottom: none;
    border-top: none;
    /*background-color: rgba(47, 79, 79, 0.3);*/
    /*border-color: rgba(47, 79, 79, 0.548);*/
    color: rgba(255,255,255,1);
}


.navbar button.gab {
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.navbar button.balb {
}

.navbar button.active.balb{
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.15);
    pointer-events: none;
}

.navbar button.active.bgab{
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.15);
    pointer-events: none;
}